@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --font-stack: 'Stack Sans Text', sans-serif;
}
body {
    font-family: var(--font-stack);
    margin: 36px;
}

#addItemButton {
    background-color: lightgreen;
}

#removeItemButton {
    background-color: lightcoral;
}